*{
    padding: 0;
    margin: 0;
    font-family: font-family: poppins,sans-serif;
}
.container-1{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.container-para{
    color: #fff;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 15px;
    font-size: 1.7rem;
}
.container-links{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
.link-0{
    color: #fff;
    text-decoration: none;
}
.container-links1{
    color: #fff;
}
.container-links2{
    color: #fff;
}
.link-a{
    color: red;
    text-decoration: none;

}

/*  middle division */

.service{
    /* background-color: aqua; */
    width:90%;
    margin: 5px auto;
}
.service-container{
    display: flex;
    flex-direction: row;
}
.container-left{
    display: flex;
    flex-direction: column;
}
.container-content{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #f1f0ee;
    border-radius: 0.3rem;
    border: none;
    justify-content: space-between;
    box-shadow:  0 0 4px black;
}
.container-content:hover{
    /* transform: scaleY(1.1); */
    transform: scale(1.1);
    transition: 0.3s ease;
}
.content-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-img{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
    /* margin: 2px 3x; */
    border-radius: 0.3rem;
    /* box-shadow:  0 0 5px black; */
    /* padding: 3px; */
}
.text{
    text-align: center;
    /* margin-top: -8px; */
    padding: 5px;
    font-size: 22px;
    font-weight: 800;
    /* color: ; */
}
.content-text{
    text-align: start;
    /* margin: 8px; */
    font-size: 15px;
    font-weight: 500;
    text-wrap: wrap;
    margin: auto 2px;
    /* flex-direction: column; */
}   
.content-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: 500;
}
.content-2{
    width: 100px;
    text-align: center; 
    border: none ;
    margin:  0 auto;
    border-radius: 0.3rem;
    padding:  5px;
    background-color: #333;
    color: #fff ;
}
.content-2:hover{
    transform: scaleY(1.1);
    transform: scalex(1.1);
    transition: 0.3s ease;
}