@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* {
    font-family: 'PT Serif', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
body{
    background: #ffffff;
    color: #000000;
  
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
    align-items: center ;
}

.navbar-block{
    background-image: url(../image/Home-Img/navbar-bg2.jpeg);
    background-size:cover;
    height: 169px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}


.nav-up{
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-between;
}

.nav-logo{
    /* width: 480px; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 23px;
}   
.nav-right{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.nav-social{
    width: 220px;
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    justify-content: space-around;
    /* width: 190px; */
    
}

.nav-social a{
    text-decoration: none;
    
}

.nav-social p{
    font-size: 14px;
    font-weight: bold;
    
}

.nav-reach{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

.nav-nav1{
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.nav-nav1 p{
    margin: auto 0px;
}

.nav-nav2{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.nav-nav2 a{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-left: -60px;
}
.mail-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-right: ;
}

.mail-text p{
    margin-top: 4PX;
    margin-bottom: -10px;
    color: gray;
}
.mail-text p1{
    margin-top: 10px;
    font-weight: bolder;
}

.nav-search{
    display: flex;
    width: 95px;
    justify-content: right;
}

.nav-search a{
    display: flex;
    width: 85px;
    justify-content: space-around;
}



.nav-down{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-down-links{
    display: flex;
    flex-direction: row;
}

.nav-down-links a{
    padding: 10px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.nav-down-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav-down-btn a{
    padding: 10px;
    color: #ee2737;
    text-decoration: none;
    font-weight: bolder;
}

.nav-down-btn img{
    margin-top: 5px;
}


/* <==================  SLIDER    ==================> */

.slider{
    /* width: 1300px; */
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    /* width: 1300px; */
    width: 100%;
    max-width: 100vw;
    /* height: 100%; */
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}


/* <!-- <======= SELECT YOUR CAR====> --> */
 
.car-selector-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

    
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }

}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

.car-select-block{
    background-color:white;
    height: auto;
    min-height: 350px;
    width: 360px;
    margin-top: -270px;
    z-index: 10;
    box-shadow: 10px 10px 50px 0px grey;
    border-radius: 10px;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;

    font-family: 'Rubik', sans-serif;
    border: 2px solid black;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    
}
.car-select-block::selection, .car-select-block:hover{
    animation: none;
}

.car-select-block h2{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 30px;
    font-size: 38px;
}

.car-select-block select{
    margin-bottom: 20px;
}

#carImg{
    max-width: 200px;
    margin: auto;
 
 }
 #bookServiceBtn{
  padding: 7px 10px; 
  width:fit-content; 
  margin: auto;
  text-decoration: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  opacity: 0.2;
 }


.feature-poster-1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

.f-p-same{
    background-color: rgb(226, 224, 222);
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    
}

.f-poster-1{
    /* margin-right: 200px */
}

.f-poster-info h3{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin-left: -10px;
}
.f-p-same h2{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    opacity: 40%;
    margin-top: 20px;
    margin-left: -20px;

}

.f-poster-info p1{
    font-weight: bold;
    font-size: 14px;
    color: #ee2737;
}


.poster-logo-1 {
    /* border-radius: 50%; */
    height: 43px;
}





/* <=====================  SLIDER   ===============> */


/* ++++++++++++++++++++++++  SpecialmFeatured Service  ++++++++++++++++++++++++++ */ 

.s-services{
    background-color: rgb(226, 224, 222);
    padding-top: 30px;
}

.s-services-title{
    margin: auto;
    display: flex;
    justify-content: center;
}

.s-services-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.s-service-card-block{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: 630px;
    width: 400px;
    /* position: relative; */
    transition: .5s ease-in-out;
    border: ;
}

.s-service-img{
    /* height: 250px; */
    /* position: absolute; */
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
    transition: .7s ease-in-out;
    
}

.s-service-card-info{
    background-color: white;
    width: 400px;
    height: 380px;
    display: flex;
    justify-content:end;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px;
    margin-top: -285px;
    z-index: 5;
    transition: .5s ease-in-out;
    border-radius: 7px;
    cursor:pointer;
    box-shadow: 0px 10px 65px 0px rgb(150, 150, 150);
    padding-bottom: 25px;
}


.s-service-card-block:hover{
    transform: scale(1.1);
}

.s-service-card-block:hover .s-service-img{
    transform: scale(0.9);
    transform: translateY(-100px);
    box-shadow: 0px 20px 50px 0px rgb(86, 86, 86);

}

.s-service-card-block:hover .s-service-card-info{
    flex-direction: column;
    background-color: #000000;
    color: white;
}

.s-service-card-block:hover .s-service-card-info h3{
    color: #ee2737;
}


 .s-service-card-info h3{
    /* padding-bottom:-20px; */
    margin-top: 50px;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
    /* transition: .7s ease-in-out; */


}

.s-service-card-info p{
    /* margin-top: -20px; */
    /* color: white; */
    transition: .5s ease-in-out;
}



.s-service-card-info:hover{
    background-color: transparent;
}

.s-service-img:hover {
    transform: scale(0.9);
    transform: translateY(-100px)
}

.s-service-img:hover .s-service-card-info{
    flex-direction: column;
    box-shadow: 0px 10px 65px 0px rgb(104, 102, 102);
    transition: 0.3s ease-in-out;

}

/* .s-service-img :hover .s-service-card-info{
    background-color: #000000;
    color: white;
} */





.s-service-card-info:hover{
    background-color: #000000;
    color: white;
    transition: 0.3s ease-in-out;

}

.s-service-more-btn{
    display: flex;
    justify-content: center;
    
}

.s-service-more-btn button{
    background-color: black;
    margin: 10px;
    padding: 9px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: -40px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: 0px;
    width: 160px;
    z-index: 10;
}



/* ===================     FEATURED SERVICES   =================== */

.featured-title{
    margin: 20px;
    padding: 20px;
    margin-bottom: -30px;
}

.featured-services{
    background-color: rgb(226, 224, 222);
}
.featured-services-block{
    justify-content: space-between;
    width: 80vw;
    padding: 10px;
    align-items: center;
    
}

.featured-services-cards{
    /* opacity: 0; */
    
}

.featured-services-cards:hover{
    
}

.f-card1{
    padding: 20px;
    margin: 50px;
    /* border: 1px solid black; */
    /* margin-left: 50px; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
    transition: .5s ease-in-out;
    cursor: pointer;
}

.f-card1:hover{
    transform: scale(1.1);
    
}



.f-card1 img{
    height: 70px;
    margin: auto;padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
    /* background-color: white; */
    background-color: rgb(226, 224, 222);
    margin-bottom: -20px;
    animation:  floatImageD 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

@keyframes floatImageD {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10);
    }
}

.f-card-img{
    z-index: 10;
    height: 70px;
    margin: auto;padding: 10px;
    margin: 10px;
    border-radius: 50%;
    /* background-color: white; */
    
}

.f-card-info{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 100px;
    justify-content: center;
    align-items:end;
    display: flex;
    z-index: 5;
    padding: 10px;
    border-radius: 4px;
    margin-top: -20px;
    width: 200px;
    padding-bottom: 15px;
    box-shadow: 5PX 5PX 30PX 0PX grey;
    transition: .4s ease-in-out;
    



}

.door-step h5{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.f-card-info:hover{
    background-color: #ee2737;
    color: wheat;
}

/* .f-card-info{
    --color: white;
    --hover: #ee2737;
    
  }

.f-card-info:hover,
.f-card-info:focus {
  box-shadow: inset 0 -4.25em 0 0 var(--hover);

} */


.featured-services-button button{
    background-color: black;
    margin: 10px;
    padding: 9px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 19px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: 0px;
    width: 160px;
}

.f-card-info h3{
    font-size: 21px;
    font-family: 'Rubik', sans-serif;

}



/* ===============   POSTER =============== */

.poster{
    background-image: url(../image/Home-Img/poster.jpeg);
    height: 340px;
    /* filter: blur(3px); */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster h1{
    padding: 15px;
}






/* <!-- <+++++++++ =========  Why Us ========  +++++> --> */

.why-us-main{
    display: none;
}
.why-us-block{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
}

.why-us-info{
    width: 600px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.why-us-cards-block1{
    display: flex;
    margin: auto;
    padding: 20px;
}
.why-us-cards-block2{
    display: flex;
    margin: auto;
    padding: 20px;
}

.why-us-card{
    height: 100px;
    width: 190px;
    background-color: antiquewhite;
    margin: 20px;
}








/* ++++++++++++++++++++++++  Our Services  PRICE ++++++++++++++++++++++++++ */ 



.service-price{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(226, 224, 222);
    padding-bottom: 30px;
    padding-top: 30px;
}

.service-price-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1300px;
}

.service-price-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-price-title h2{
    font-family: 'Rubik', sans-serif;
    font-size: 33px ;
    padding-top: 20px;
}

.service-price-title p{
    margin:-5px
}


.service-price-card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px;

}

.service-price-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px;
    background-color: white;
    width: 290px;
    border-radius: 7px; 
    padding: 16px 0px 29px 30px;
    transition: 0.7s ease-in-out;
}

.service-price-card:hover{
    /* background-color: black; */
    /* background-color: rgb(239, 194, 194); */
    /* color: aliceblue; */
    box-shadow: 4px 2px 12px 2px #ee959d;
    transition: 0.3s ease-in-out;
    /* transform: scale(0.9); */
    transform: translateY(-10px);
    /* transform: scaleY(0.9); */
}

/* .service-price-card:hover h2{
    color: #ee2737;
    color: #000000;
    transition: 0.4s ease-in;
} */



/* .service-price-card:hover button{
     background-image: linear-gradient(to right, #ee2737  0%, rgb(233, 120, 72)    51%, #ee2737  100%);
     color: white;
     transition: 0.5s ease-in;
} */

.spc1{
    margin-top: 100px;
}

.spc1 span{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-left: -10px;
    color: black;
}

/* .service-price-card:hover span{
    color: grey;
    color: white;
} */





.service-price-card h1{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.service-price-card h2{
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    color: #ee2737;
    margin: 0px;
}

.service-price-card p{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    
}



         
.service-price-btn{
    /* background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); */
    background-color: black;
    margin: 10px;
    padding: 9px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 19px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: 0px;
    width: 160px;
    
    
}

.service-price-btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    transition: 0.7s ease-in;
}

/* <================ Innovation  ===========> */

.innovation-main{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.innovation-block{
    display: flex;
    flex-direction: row;
    width: 80%;

}

.innovation-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.innovation-img{
    transform: scale(0.8);
    transition: .6s ease-in-out;
    border: 2px solid black;
}
.innovation-img:hover{
    transform: scale(0.9);
    box-shadow: 15px 15px 50px 0px rgb(123, 120, 120);
}
.innovation-info h2{
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}

.innovation-info p1{

    margin-bottom: 10px;
}

.innovation-points li{
    transition: .6s ease-in-out;
}

.innovation-points li:hover{
    color: #ee2737;
    transform: scaleX(0.9);
    margin: 10px;
    font-weight: bolder;

    /* transform: scale3d(1.1); */
}










/* <!-- <================= HOW WE WORK  +==============> --> */


.how-we-work-main{
    background-image: url(../image/Home-Img/how-work-bg.jpeg);
    height: 568px;
    background-size:contain;
    /* background-size: cover; */
    color: white;
}

.how-we-work-block{
    display:flex;
    justify-content: center;

}

.how-we-work-block h2{
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
}

/* <=========== FOOTER  ===========> */

footer{
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
height: 400px;
}
.footer-box{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.ft{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 290px;
    justify-content:baseline;
    margin: 10px;
}

.footer-box h3{
    font-family: "Poppins", sans-serif;
    padding: 10px;
    padding-left: 0px;
    margin-top: 10px;
    
}

.footer-about{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: left;
}

.footer-about h4{
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    padding-left: 0px;
}

.footer-about p2{
    padding: 0px 0px 8px 0px;
    margin-top: -9px;
    color: grey;
    font-size: 16px;
    margin-bottom: 7px;
}

.footer-about p1{
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-about button{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 9px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: 0px;
    width: 160px;
    /* z-index: 10; */
}

.footer-explore{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: left;
    margin-left: 50px;
    margin-right: -150px;
}

.footer-explore a{
    color: grey;
    text-decoration: none;
    margin: 3px;
    font-size: 16px;
}

.footer-explore a:hover{
    color: #ee2737;
    text-decoration: underline;
}

.footer-recent{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: left;
    margin-left: 70px;
    margin-right: -70px;
}

.footer-contact a{
    text-decoration: none;
    color: grey;
    margin-bottom: 7px;
}

.footer-contact h5{
    font-size: 15px;
}

.footer-contact{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: left;
    margin-left: 50px;
}

.footer-contact a:hover{
    color: #ee2737;
    /* text-decoration: underline; */
}

/* .round{
    display:none;

} */





/* common css */

.ptr{
    cursor: pointer;
}