* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
body{
    background: #ffffff;
    color: #000000;
  
}

.navbar-block{
    background-image: url(../image/Home-Img/navbar-bg2.jpeg);
    background-size:cover;
    height: 169px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}


.nav-up{
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-between;
}

.nav-logo{
    /* width: 480px; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 23px;
}   
.nav-right{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.nav-social{
    width: 220px;
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    justify-content: space-around;
    /* width: 190px; */
    
}

.nav-social a{
    text-decoration: none;
    
}

.nav-social p{
    font-size: 14px;
    font-weight: bold;
    
}

.nav-reach{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

.nav-nav1{
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.nav-nav1 p{
    margin: auto 0px;
}

.nav-nav2{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.nav-nav2 a{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-left: -60px;
}
.mail-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-right: ;
}

.mail-text p{
    margin-top: 4PX;
    margin-bottom: -10px;
    color: gray;
}
.mail-text p1{
    margin-top: 10px;
    font-weight: bolder;
}

.nav-search{
    display: flex;
    width: 95px;
    justify-content: right;
}

.nav-search a{
    display: flex;
    width: 85px;
    justify-content: space-around;
}



.nav-down{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* <==================  SLIDER    ==================> */

.slider{
    /* width: 1300px; */
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    /* width: 1300px; */
    width: 100%;
    max-width: 100vw;
    /* height: 100%; */
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

/* <=====================  SLIDER   ===============> */