body{
    font-family: poppins,sans-serif;
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
}
.head-div{
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px;

    
}
.home{
    color:white;
}
.heading{
    font-size: 54px;
}
.services{
    color: red;
}
.main-div{
    color: white;
    text-align: center;
    padding: 30px;
    text-align: center;
}
.main-head{
    color: red;

}
.sup-head{
    color: black;
}
.sub-div{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 600px;
    align-items: center;
    text-align: center;
    margin: auto;
}
.card{
    background-color: #f1f0ee;
    color: black;
    border: 2px solid black;
    height: 270px;
    width: 250px;
    padding: 20px;;
    text-align: center;
    margin: 25px 15px 15px 15px;
}
.service-img{
    margin-right: 190px;
}
.card-head{
    font-size: 24px;
}
.card-para{
    font-size: 18px;
    margin: 20px 0;
}
.read{
    margin-right: 150px;

}
.arrow-img{
    position: relative;
    top: 8px;
}
.contact{
    background-color: black;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form{
    background-color: white;
    color: black;
    text-align: left;
    padding: 30px;
    margin-right: 50px;
    align-items: left;

}
.input{

    margin: 20px;
    font-size: 18px;
    color: black;
    border: 2px solid gray;
}
.btn{
    align-items: left;
    text-align: left;
}
button{
    background-color: red;
    color: white;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    
}
.msg{
    height:40px ;
}
.w{
    color: red;
}
.a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    
}
.c{
    background-color: #f1f0ee;
    color: black;
    border: 2px solid black;
    width: 220px;
    height: 230px;
    margin:  0px 0 0;
    padding: 20px;;
    text-align: center;
    margin: 5px;
}
